<!-- 头部 -->
<!DOCTYPE html>
<html lang="zh-CN" style="">
  <head>
    <link rel="icon" href="favicon.png" type="image/x-icon"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{$titleName}</title>

    <!-- Bootstrap -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- wangEditor -->
  <link rel="stylesheet" type="text/css" href="/lib/wangeditor/dist/css/wangEditor.min.css">

  </head>
  <body>
<div class="container">
  <div class="row">
    <div class="col-md-12">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
  <a class="navbar-brand" href="/">{$info}</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
           {php} foreach($catName as $value) : {/php}
              <li class= ""><a href="{php} echo $value['cat_url']; {/php}">{php} echo $value['cat_name'] {/php} </a></li>

          {php}  endforeach;{/php}

                </ul>

{include file="base/islog" /}

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>


    </div>
  </div>

<!-- 页头 -->
<div class="row">
  <div class="col-md-9">
      <div class="page-header">
  <h2>随机推荐 </h2>
</div>
</div>
<div class="col-md-3">
    <div class="page-header1">
<p style="margin-top:80px;font-size:15px;margin-bottom:6px;letter-spacing:3px;">博客信息</p>
<hr style="margin:5px auto" />
</div>
</div>
</div>
<!--左侧框表-->
<div class="row" >
  <div class="col-md-9">
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<div class="panel panel-default">
{php} foreach($artList as $vo) : {/php}
  <div class="panel-heading" role="tab" id="headingOne">
    <h4 class="panel-title">
      <a  href="{php} echo $vo['art_url']; {/php}" >
      {php} echo $vo['art_title']; {/php}
      </a>
    </h4>
  </div>
  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
    {php} echo htmlspecialchars_decode(substr($vo['content'],0,500)); {/php}
     <a  class="btn btn-info btn-xs" href="{php} echo $vo['art_url']; {/php}" role="button">点击阅读 >></a>
    </div>
  </div>
  {php} endforeach; {/php}
</div>
</div>
</div>

{include file="base/right" /}
{include file="base/footer" /}
