<!-- 右侧列表 -->

<div class="col-sm-6 col-md-3">
<div class="thumbnail" style="border:0">
<img  src="/static/ima/logo.jpg" alt="..." style="border:0">
  昵称：-喃楠楠-<br/>
  博龄：{php} echo $data['year'];{/php}年{php} echo $data['mon'];{/php}月<br/>
  Email：wymercif@163.com<br/>
  技术文章 - {php} echo $data['tech'];{/php}<br/>
  不务正业 - {php} echo $data['konomi'];{/php}<br/>
  胡思乱语 - {php} echo $data['diary'];{/php}<br/>
  <p style="margin-top:10px;font-size:15px;margin-bottom:0;letter-spacing:3px;">友情连接</p>
  <hr style="margin:5px auto"/>
  <a href="www.baidu.com" style="display:block;color:#5e5e5e;"onmouseover="this.style.cssText='text-decoration:none;'" onmouseout="this.style.cssText='display:block;color:#5e5e5e'">百度</a>
  <a href="www.baidu.com"  style="display:block;color:#5e5e5e;"onmouseover="this.style.cssText='text-decoration:none;'" onmouseout="this.style.cssText='display:block;color:#5e5e5e'">百度</a>
  <p style="margin-top:10px;font-size:15px;margin-bottom:0;letter-spacing:3px;">关于我</p>
  <hr style="margin:5px auto"/>
  这是一个关于代码和学习的小空间<br>
  你我互不相识，从未谋面<br>
  由旋律而来，或安静，或忧伤<br>
  你仰望星空<br>
  我弹着吉他<br>
  倾听耳畔的风，感受重叠的时光~~<br/>
</div>
</div>
</div>
