{include file="base/header" /}
<!--添加博文模板-->
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3 class="text-center">修改博文</h3>
        <form name="edit" action="/art_update?id={$url}" method="post" onsubmit="return formCheck()">
            <div class="form-group">
                <input type="text" class="form-control"  placeholder="博文标题[必选]" name="title" value="  {php} echo $information[0]['art_title'];{/php}" autofocus>

            </div>

            <div class="form-group" >
            <textarea class="form-control" rows="12"  name="content" id="editor">
                {php} echo htmlspecialchars_decode($information[0]['content']);{/php}
            </textarea>
            </div>

            <div class="form-group">
                <input type="number" class="form-control" placeholder="排序[必选]" name="order" value="{$order}">
            </div>

            <div class="form-group">
                <select class="form-control" name="cat_id" id="cat_id">
                    <option selected  value="">---所属分类[必选]---</option>
                    <option value="1" >PHP </option>
                    <option value="2" >数据库 </option>
                    <option value="3" >框架 </option>
                    <option value="4" >杂项 </option>
                    <option value="5" >不务正业 </option>
                    <option value="6" >胡思乱语 </option>
                </select>
            </div>

            <div class="form-group">
                <select class="form-control" name="recommend" id="recommend">
                    <option selected value="" >---是否推荐[必选]---</option>

                    <option  value="1">推荐</option>
                    <option  value="0">暂不推荐</option>

                </select>
            </div>

            <button type="submit" class="btn btn-info btn-block">保存</button>
        </form>


    </div>
    <div class="col-md-2"></div>
</div>
<div class="row" style="height: 30px;"></div>
<script type="text/javascript">
function formCheck()
{
  var slt= document.getElementById('cat_id');
  if(slt.value=="")
  {
    alert("所属分类不能为空！");
    return false;
  }
  var slt1= document.getElementById('recommend');
  if(slt1.value=="")
  {
    alert("推荐不能为空！");
    return false;
  }
}
</script>
{include file="base/footer" /}
